<%= form_with(model: attachment, local: true) do |form| %>
  <% if attachment.errors.any? %>
    <div class="error-message" id="error_explanation">
      <h2><%= pluralize(attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
        <% attachment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-element-container">
    <div class="form-container-file-field">
      <%= form.file_field :file, class: "form-container__input-title" %>
    </div>

     <%= form.text_field :project_id, :value => params[:project_id], :type => "hidden" %>


    <div class="form-container-title">
      <%= label_tag(:file_name, "File Name", class: "form-container__label-description") %>
      <%= form.text_field :file_name, class: "form-container__input-title" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Create Attachment", class: "action-button" %>
  </div>
<% end %>
