<div class="header">
<h1>Attachments</h1>
<%= link_to "New Attachment", new_attachment_path(project_id: project.id), class: "text edit" %>
</div>

  <% if !@project.attachments.nil? %>
   <tbody>
    <% @project.attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.project_id %></td>
        <td><%= attachment.user.email %></td>
        <td><%= attachment.file_name %></td>
        <td><a href=<%= rails_blob_path(attachment.file, disposition: "attachment") %>> Download file <a/></td>
      
        <td><%= link_to "Destroy", attachment, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
    
  <% end %>

  
</table>

<br>
 