<%= stylesheet_link_tag "thread_messages" %>
  <div class="header">
  <h1>Thread Messages</h1>
  <%= link_to 'New Thread Message', create_thread_message_path(project_thread_id: params[:id]), class: "text edit" %>
  </div>

  <div class="thread-messages-content-container">
    <div>
    <% messages.each do |thread_message| %>
      <div>
        <span><%= thread_message.thread_message_id %></span>
        <span><%= thread_message.message %></span>
        <span><%= link_to 'Show', show_thread_message_path(id: thread_message.id), class: "text" %></span>
        <span><%= link_to 'Edit', edit_thread_message_path(id: thread_message.id, project_thread_id: thread_message.project_thread_id), class: "text edit" %></span>
        <span><%= link_to 'Delete Message', delete_thread_message_path(id: thread_message.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "text delete" %></span>
      </div>
    <% end %>
  </div>
  </div>


